{%extends 'base.html'%}
{%block title %}Url Shortner{%endblock title %}
{%block content%}
<div class="" style="background-color: gainsboro; padding-top: 10rem;padding-bottom: 9rem;height: 40rem;">
    <div class="row align-items-center">
        <div class="col-md-6 text-center">
            <div style="font-size: 100px;">URL Shortner</div>
        </div>
        <div class="col-md-6 text-center">
            <h2>
                Short your URL here <br class="my-3"> With  <br class="my-5">
                <span class="badge bg-danger  rounded-pill ">Zero Ads </span>  
                <span class="badge bg-primary  rounded-pill "> free  Account</span>
                <span class="badge bg-success  rounded-pill ">High Security</span>
            </h2>
        </div>
    </div>
</div>
{%endblock content%}